{{extend 'custom_layout.html'}}
{{block head}}
 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
 <style>
    div#geo-locate {
        /*height: 100px;
        width: 100px;*/
        padding:15px 10px;
        /*position: fixed;*/
        /*bottom: -60px;
        left: 48%;*/
        background: #333;
        color: white;
        /*border-radius: 100%;*/
        cursor:pointer;
        /*display: none;*/
    }
    div#loader{
        display: none;
        position:fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background:#333;
        z-index:9999;
        opacity: 0.8;
    }
    .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
    }
    .actions-menu{
        text-align: center;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 400ms ease;
        -moz-transition: -moz-transform 400ms ease;
        -o-transition: -o-transform 400ms ease;
        transition: transform 400ms ease;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }

    .actions-menu i{
        font-size: 50px;
    }
    .actions-menu a{
        text-decoration: none;
    }
    #brand-action,#brand-menu-action{
        text-transform: capitalize;
    }
    .volver_action{
        cursor: pointer;
    }
    ul.opciones li{
        cursor: pointer;
    }
    #actions{
        position: relative;
        width: 100%;
        top:0;
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .nav-open #actions{
        -webkit-transform: translate3d(-150%, 0, 0);
        -moz-transform: translate3d(-150%, 0, 0);
        -ms-transform: translate3d(-150%, 0, 0);
        -o-transform: translate3d(-150%, 0, 0);
        transform: translate3d(-150%, 0, 0);
    }
    #step2{
        position: absolute;
        top:100px;
        right:0;
        width: 100%;
        -webkit-transform: translate3d(-150%, 0, 0);
        -moz-transform: translate3d(-150%, 0, 0);
        -ms-transform: translate3d(-150%, 0, 0);
        -o-transform: translate3d(-150%, 0, 0);
        transform: translate3d(-150%, 0, 0);
    }
    .nav-open #step2{
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .navigation .row{
        margin:0!important;
    }

 </style>
{{end}}
<div id="map" style="width:0px;height:0px;position:fixed;bottom:0;right:0;"></div>
<div id="loader">
    <div style="color: white;text-align: center;margin-top: 10%;font-size: 50px;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <br> <span id="text-loader">Geolocalizando</span></div>
</div>

<div id="direccion" style="height: 50px"><div id="geo-locate" onclick="javascript:geoLocate();">Mi ubicación</div></div>
<div class="navigation" style="overflow-x:hidden">
    <div class="actions-menu" id="actions">
        <div class="row">
            <div class="col-xs-4 col-md-4 action" data-id="salud">
                <a href="javascript:;" class="thumbnail">
                    <i class="glyphicon glyphicon-info-sign"></i> <br>
                    Salud
                </a>
            </div>

            <div class="col-xs-4 col-md-4 action" data-id="educacion">
                <a href="javascript:;" class="thumbnail">
                    <i class="glyphicon glyphicon-info-sign"></i> <br>
                    Educación
                </a>
            </div>

            <div class="col-xs-4 col-md-4 action" data-id="seguridad">
                <a href="javascript:;" class="thumbnail">
                    <i class="glyphicon glyphicon-info-sign"></i> <br>
                    Seguridad
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-md-4 action" data-id="sociedad">
                <a href="javascript:;" class="thumbnail">
                    <i class="glyphicon glyphicon-info-sign"></i> <br>
                    Sociedad
                </a>
            </div>

            <div class="col-xs-4 col-md-4 action" data-id="familia">
                <a href="javascript:;" class="thumbnail">
                    <i class="glyphicon glyphicon-info-sign"></i> <br>
                    Familia
                </a>
            </div>

            <div class="col-xs-4 col-md-4 action" data-id="turismo">
                <a href="javascript:;" class="thumbnail">
                    <i class="glyphicon glyphicon-info-sign"></i> <br>
                    Turismo
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-md-4 action" data-id="tramites">
                <a href="javascript:;" class="thumbnail">
                    <i class="glyphicon glyphicon-info-sign"></i> <br>
                    Trámites
                </a>
            </div>

            <div class="col-xs-4 col-md-4 action" data-id="energia">
                <a href="javascript:;" class="thumbnail">
                    <i class="glyphicon glyphicon-info-sign"></i> <br>
                    Energia
                </a>
            </div>

            <div class="col-xs-4 col-md-4 action" data-id="negocios">
                <a href="javascript:;" class="thumbnail">
                    <i class="glyphicon glyphicon-info-sign"></i> <br>
                    Negocios
                </a>
            </div>
        </div>
    </div>

    <div class="actions-menu" id="step2">
        <div class="row">
            <div class="col-xs-12 col-md-12 action" data-id="beneficios">
                <a href="javascript:;" class="thumbnail">
                    <i class="glyphicon glyphicon-thumbs-up"></i> <br>
                    Beneficios
                </a>
            </div>

            <div class="col-xs-12 col-md-12 action" data-id="buscar">
                <a href="javascript:;" class="thumbnail">
                    <i class="glyphicon glyphicon-search"></i> <br>
                    Buscar
                </a>
            </div>

            <div class="col-xs-12 col-md-12 action" data-id="subcategorias">
                <a href="javascript:;" class="thumbnail">
                    <i class="glyphicon glyphicon-align-justify"></i> <br>
                    Sub-categorias
                </a>
            </div>
        </div>
    </div>
</div>

<div id="response"></div>
<div id="process"></div>

{{block js}}
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>

    var url_georeverse = 'http://nominatim.openstreetmap.org/reverse?format=json&'; // lat=-33.4361132&lon=-70.6300473
    var url_base_colegios = "{{=URL('default','search_schools.json')}}";
    // create a map in the "map" div, set the view to a given place and zoom
    var map = L.map('map').setView([-33.4361132, -70.6300473], 18);
    var GeoLayer = L.layerGroup();
    var GeoColegios = L.layerGroup();
    var coords_location = null;
    GeoLayer.addTo(map);
    GeoColegios.addTo(map);

    // add an OpenStreetMap tile layer
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    function geoLocate(){
        $("div#loader").show();
        map.locate({setView: true, maxZoom: 18});
    }
    // geoLocate();

    function onLocationFound(e) {
        var radius = e.accuracy / 2;
        // console.info(e.latlng);

        GeoLayer.clearLayers();

        var marker = L.marker(e.latlng).addTo(GeoLayer);
        marker.bindPopup('Tu estás aquí',{minWidth: 200}).openPopup();

        // <div id="options-geo-search"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Buscando información cercana ...</div>

        // L.circle(e.latlng, radius).addTo(GeoLayer);

        coords_location = e.latlng;

        geoSearch(e.latlng);
    }

    map.on('locationfound', onLocationFound);

    function onLocationError(e) {
        alert(e.message);
        $("div#loader").hide();
    }

    map.on('locationerror', onLocationError);

    function geoSearch(latlng,marker_id){
        $.getJSON(url_georeverse+'lat='+latlng.lat+'&lon='+latlng.lng,function(res){
            var direccion = 'ubicación desconocida';
            var comuna = 'ubicación desconocida';
            if(res.display_name!=undefined){
                direccion = res.display_name;
            }
            if(res.address!=undefined){
                comuna = res.address.suburb;
            }
            console.info('buscando información ...');
            $("#direccion").empty()
                .append($('<div/>').html('<b><span>'+comuna+'</span></b>').css('padding','15px'))
                .data('georeverse',res.toString());

            $("div#loader").hide();
        });

    }
    $(document).ready(function(){
        $(".volver_index").on('click',function(){
            $("#brand-action, #brand-menu-action, #brand-sub-action, #brand-geo-map").remove();
            $("#response, #process").empty().show();
            $("#map").css({'width':'0px','height':'0px','position':'fixed','bottom':'0','right':'0'});
            $(".navigation").show();
            $(".navigation").removeClass('nav-open');
            $(".volver_index").hide();
        });

        $("#actions").find('.action').on('click',function(){
            var action = $(this);
            $("#direccion b").append($("<span/>").attr('id','brand-action').html(' / '+action.data('id')).data('comuna',action.data('id')).data('action',action.data('id')));
            $(".navigation").addClass('nav-open');
            $(".volver_index").show();
        });
        $("#step2").find('.action').on('click',function(){
            var action = $(this);
            switch(action.data('id')){
                case 'beneficios':
                    var url_action = "{{=URL('default','beneficios.load')}}";
                    url_action = url_action+'?action='+$("#brand-action").data('action')+'&comuna='+$("#brand-action").data('comuna');
                    $("#loader #text-loader").html('Cargando Beneficios ');
                    $("#loader").show();
                    web2py_component(url_action,'response');
                    break;
                case 'buscar':
                    var url_action = "{{=URL('default','buscar.load')}}";
                    url_action = url_action+'?action='+$("#brand-action").data('action')+'&comuna='+$("#brand-action").data('comuna');
                    $("#loader #text-loader").html('Cargando Buscador ');
                    $("#loader").show();
                    web2py_component(url_action,'response');
                    break;
                case 'subcategorias':
                    var url_action = "{{=URL('default','subcats.load')}}";
                    url_action = url_action+'?action='+$("#brand-action").data('action')+'&comuna='+$("#brand-action").data('comuna');
                    $("#loader #text-loader").html('Cargando Sub-categorias ');
                    $("#loader").show();
                    web2py_component(url_action,'response');
                    break;
            }
        });
        $("#response").on('click','.volver_action',function(){
            $("#response").empty();
            $("#brand-menu-action").remove();
            $(".navigation").show();

        }).on('click','.opciones>li',function(){
            var opcion = $(this);
            var url_action = "{{=URL('default','action_submenu.load')}}";
            if(opciones_disponibles(opcion.data('name'))){
                $("#response").hide();
                $("#loader #text-loader").html(opcion.data('name'));
                $("#loader").show();
                url_action = url_action+'?action='+opcion.data('id')+'&comuna='+$("#direccion b>span:first").text();
                web2py_component(url_action,'process');
            } else{
                alert('Soon...');
            }
        });

        function opciones_disponibles(opcion){
            var opciones = ['Programa Nacional de Alimentación Complementaria','Jardines Integra'];
            for(i=0; i<opciones.length; i++){
                if(opcion==opciones[i]){
                    return true;
                }
            }
            return false;
        }

    });
    function size_window(){
        var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
        var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

        return {'width':w,'height':h};
    }
</script>
{{end}}